<h2>Posts list:</h2>
<hr>
<a href="/admin/posts/add">
	<button class="btn btn-success">New post</button>
</a>

{{#each posts}}
	<a href="/admin/post/{{this._id}}">
		<div class="card mt-4">
			<div class="card-body">
				<h4>{{this.title}}</h4>
				<small>{{this.description}}</small>
				<br>
			</div>
		</div>
	</a>
{{else}}
	<h4>There aren't any posts created yet.</h4>

{{/each}}