<h4>Sign in</h4>
<div class="card">
	<div class="card-body">
		<form action="/user/login" method="post">
		<section>
			<label for="email">Email</label>
			<input type="email" name="email" class="form-control" required>
		</section>
		<section>
			<label for="password">Password</label>
			<input type="password" name="password" class="form-control" required>
		</section>
			<button type="submit" class="btn btn-success mt-4">Sign in</button>
		</form>
		
	</div>
</div>